mixin options(list, level = 0, parent = "")
  each item in list 
    - const prefix = "--".repeat(level);
    option(
      value=item.id
      selected=(parent == item.id ? true : false)
    ) #{prefix} #{item.name}
    if(item.children && item.children.length > 0)
      +options(item.children, level + 1, parent) 