extends ../layouts/default.pug

block main 
  section.section-10 
    img(src="/admin/assets/images/error-404.svg" alt="404 Not Found" class="inner-image")
    h1(class="inner-title") This page could not be found...
    a(href=`/${pathAdmin}/dashboard` class="inner-back") Back to Dashboard