extends ../layouts/default.pug

block title
  title Change Password

block main 
  h1.box-title Change Password
  
  //- Section 8
  section.section-8 
    form#profile-change-password-form
      .inner-group 
        label(class="inner-label" for="password") New Password
        input(type="password" id="password" name="password")
      .inner-group 
        label(class="inner-label" for="confirmPassword") Confirm Password
        input(type="password" id="confirmPassword" name="confirmPassword")
      .inner-button.inner-two-col 
        button Change Password
  //- End Section 8