extends ../layouts/account.pug

block main 
  .form-account 
    h2.inner-title The account has been initialized!
    p.inner-desc Please wait for the administrator to review and approve your account.

    .inner-more 
      span Already been approved?
      a(href=`/${pathAdmin}/account/login`) Sign In