extends ../layouts/default.pug

block title
  title Create Role

block main 
  h1.box-title Create Role
  
  //- Section 8
  section.section-8 
    form#setting-role-create-form
      .inner-group 
        label(class="inner-label" for="name") Role Name
        input(type="text" id="name" name="name")
      .inner-group 
        label(class="inner-label" for="description") Description
        input(type="text" id="description" name="description")
      .inner-group 
        label(class="inner-label" for="phone") Permission
        .inner-checkbox-list 
          .inner-checkbox-item 
            input(type="checkbox" name="permissions" value="read-dashboard")
            label Read - Dashboard
          .inner-checkbox-item 
            input(type="checkbox" name="permissions" value="read-category")
            label Read - Category
          .inner-checkbox-item 
            input(type="checkbox" name="permissions" value="create-category")
            label Create - Category
          .inner-checkbox-item 
            input(type="checkbox" name="permissions" value="edit-category")
            label Edit - Category
          .inner-checkbox-item 
            input(type="checkbox" name="permissions" value="delete-category")
            label Delete - Category
      .inner-button.inner-two-col 
        button Create 
    .inner-back 
      a(href="#") Back to Settings List
  //- End Section 8