extends ../layouts/default.pug

block title
  title Role List

block main 
  h1.box-title Role List

  //- Section 5
  section.section-5 
    .inner-wrap 
      .inner-change-status
        .inner-item
          select
            option(value="") -- Actions --
            option(value="") Deleted 
        .inner-item
          button Apply 
      
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Search")
      
      .inner-button-create 
        button <i class="fa-solid fa-plus"></i> Create
  //- End Section 5

  //- Section 6
  section.section-6 
    .table-2 
      table 
        thead 
          tr 
            th(class="inner-center")
              input(type="checkbox" class="inner-check")
            th Role Name
            th Description
            th Actions
        tbody
          tr 
            td(class="inner-center")
              input(type="checkbox" class="inner-check")
            td Admin
            td Having all permissions
            td
              .inner-buttons 
                button(class="inner-edit") <i class="fa-regular fa-pen-to-square"></i>
                button(class="inner-delete") <i class="fa-regular fa-trash-can"></i>
  //- End Section 6