extends ../layouts/default.pug

block main
  h1.box-title Settings 

  //- Section 9
  section.section-9 
    a(href=`/${pathAdmin}/setting/website-info` class="inner-item")
      .inner-icon <i class="fa-solid fa-info"></i>
      .inner-text Website Info
    a(href=`/${pathAdmin}/setting/account-admin/list` class="inner-item")
      .inner-icon <i class="fa-solid fa-user-tie"></i>
      .inner-text Admin Account Management
    a(href=`/${pathAdmin}/setting/role/list` class="inner-item")
      .inner-icon <i class="fa-solid fa-user-gear"></i>
      .inner-text Role Management
  //- End Section 9