extends ../layouts/default.pug

block title
  title Settings

block main
  h1.box-title Settings 

  //- Section 9
  section.section-9 
    a(href="#" class="inner-item")
      .inner-icon <i class="fa-solid fa-info"></i>
      .inner-text Website Info
    a(href="#" class="inner-item")
      .inner-icon <i class="fa-solid fa-user-tie"></i>
      .inner-text Admin Info
    a(href="#" class="inner-item")
      .inner-icon <i class="fa-solid fa-user-gear"></i>
      .inner-text Permissions
  //- End Section 9