extends ../layouts/default.pug

block main 
  h1.box-title Create Role
  
  //- Section 8
  section.section-8 
    form#setting-role-create-form
      .inner-group 
        label(class="inner-label" for="name") Role Name
        input(type="text" id="name" name="name")
      .inner-group 
        label(class="inner-label" for="description") Description
        input(type="text" id="description" name="description")
      .inner-group 
        label(class="inner-label") Permission
        .inner-checkbox-list
          each item in permissionList 
            .inner-checkbox-item
              input(type="checkbox" name="permissions" value=item.value)
              label #{item.label} 
      .inner-button.inner-two-col 
        button Create 
    .inner-back 
      a(href=`/${pathAdmin}/setting/role/list`) Back to Role List
  //- End Section 8