extends ../layouts/default.pug

block main
  h1.box-title UI Management

  //- Section 9
  section.section-9

    a(href=`/${pathAdmin}/setting/ui/promotion` class="inner-item")
      .inner-icon <i class="fa-solid fa-tags"></i>
      .inner-text Promotion
  //- End Section 9