header.header 
  .inner-logo 
    a(href="#")
      span PV
      span Travel

  .inner-wrap 
    .inner-notify 
      img(src="assets/images/icon-bell.svg" alt="Bell Icon")
      span 6
    
    .inner-account 
      .inner-avatar 
        img(src="assets/images/avatar.png", alt="Avatar")
      
      .inner-text 
        .inner-name John Smith 
        .inner-role Admin
    button.inner-button-menu 
      <i class="fa-solid fa-bars"></i>