nav.sider 
  ul.inner-menu 
    li
      a(href="#" class="active") <i class="fa-solid fa-gauge-high"></i> Dashboard 
    li
      a(href="#") <i class="fa-solid fa-table-list"></i> Category Management
    li
      a(href="#") <i class="fa-solid fa-box"></i> Tour Management
    li
      a(href="#") <i class="fa-solid fa-list-check"></i> Order Management
    li
      a(href="#") <i class="fa-solid fa-user"></i> User Management
    li
      a(href="#") <i class="fa-solid fa-user-group"></i> Contact Information

  hr

  ul.inner-menu 
    li 
      a(href="#") <i class="fa-solid fa-gear"></i> Settings
    li 
      a(href="#") <i class="fa-solid fa-user-gear"></i> User Profile
    li
      a(href="#" class="inner-logout") <i class="fa-solid fa-power-off"></i> Logout
.sider-overlay  